@media (min-width:481px) {
    .container{
        width:678px;
        height: 718px;
        margin-left: auto;
        margin-right: auto;
        
        }
        .header{
            width: 678px;
            height: 118px;
            background: #27262A;;
            padding-bottom: 18px;
          }
          .header__list {
              width: 517px;
              height: 21px;
            display: flex;
            justify-content: space-between;
            background: none;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
           margin-left: auto;
           margin-right: auto;
          margin-top: 20px;
            }
          .header__link{
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            color: #8D81AC;
          }
          .header__link:hover{
            border-left:none;
            color: #8D81AC;
        
          }
         
        .header__menu{
         display: block;
        }
        .header__burger{
            display: none;
            height: 24px;
            width: 24px;
            background-color:  #27262A;;
            display: block;
            position: relative;
          }
          .header__burger span {
              display: none;
            position: absolute;
            background-color: #fff;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  top: 12px;
                  transition: all 0.3s ease 0s;
          
          }
          .header__burger:before,
              .header__burger:after{
                  display: none;
                  content: '';
                  background-color: #fff;
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  left: 0;
                  transition: all 0.3s ease 0s;
              }
              .header__text{
                padding-top: 11px;
                text-align: center;
                }
                
                .header__button{
                  margin-left: 520px;
                  color: white;
                  width: 119px;
                  height: 37px;
                  border-radius: 40px;
                  background: #8D81AC;
                  font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 15px;
                }
                .bacground__picture{
                    margin-top: 20px;
                    width: auto;
                    height:672px;
                    background-image: url(../img/imgfff2.png);
    
}
.header__info{
    color:#FFFFFF ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin-left: 492px;
     padding-top: 50px;
    
    }
}